.chatSection {
  grid-row: 1/-1;
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 24rem auto;
  background-color: var(--color-background-lighter);
  color: var(--text-primary);
}
.chatSection h1 {
  font-size: var(--font-size-header);
}

.notSelectedImg {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  justify-content: center;
  width: 100%;
  h3 {
    font-size: var(--font-size-header);
    margin-top: 2rem;
  }
}

.notSelectedImg > div {
  animation: bounce 1s ease-in-out infinite;
  border-radius: 32px;
  width: fit-content;
  background-color: hsla(226, 60%, 48%, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow:
    0 0 12px hsl(226, 60%, 48%),
    0 0 24px hsla(226, 60%, 48%, 0.4);
  overflow: hidden;
  img {
    height: 8rem;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(25px);
  }

  50% {
  }
}

.chatSidebar {
  border-style: solid;
  border-color: var(--color-border);
  border-width: 0 1px 0 0;
}

.chatSection .chatSidebar {
  grid-column: 1/2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .chatSection {
    display: block;
    grid-row: 1/2;
    grid-column: 1/-1;
    border-radius: 0;
  }
}
