*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
:root {
  --color-background: hsl(216, 13%, 10%);
  --color-surface: hsl(216, 14%, 16%);
  --color-background-lighter: hsl(216, 14%, 12%);
  --color-primary: hsl(226, 60%, 48%);
  --color-surface-alt: hsl(216, 14%, 23%);
  --color-primary-dark: hsl(226, 59%, 33%);
  --color-primary-light: hsl(226, 59%, 60%);
  --color-accent: hsl(0, 65%, 50%);
  --color-danger: hsl(3, 64%, 56%);
  --color-muted: hsl(210, 10%, 40%);
  --color-border: hsl(210, 10%, 18%);
  --color-border-primary: hsl(226, 60%, 32%);

  --shadow:
    0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --shadow-sm:
    0px 1px 1px hsla(0, 0%, 0%, 0.05), 0px 2px 2px hsla(0, 0%, 0%, 0.1);

  --text-primary: hsl(0, 0%, 94%);
  --text-muted: hsl(210, 10%, 85%);
  --text-danger: hsl(3, 64%, 49%);

  --font-size-xl: 2.5rem;
  --font-size-title: 2rem;
  --font-size-header: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;
  --font-size-input: 1.25rem;
  --font-size-label: 0.9375rem;
  --font-size-xm: 0.75rem;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body,
body > #root {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--color-background);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border-style: solid;
  border-color: var(--color-border-primary);
  border-width: 1px;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

form {
  all: unset;
}

#root {
  display: grid;
  grid-template-columns: 1fr 20fr;
  grid-template-rows: 100%;
}

@media screen and (max-width: 768px) {
  #root {
    grid-template-columns: 100%;
    grid-template-rows: 12fr 1fr;
  }
}
.search-input {
  margin-top: 0.5em;
  display: flex;
  padding: 0.5em 0.5em;
  padding-right: 0.25em;
  border-radius: 9px;
  border-style: solid;
  border-color: var(--color-surface);
  border-width: 0 0.05rem;
  box-shadow: var(--shadow-sm);
}
.search-input img {
  filter: invert(95%) sepia(19%) saturate(12%) hue-rotate(153deg)
    brightness(99%) contrast(94%);
  margin: auto 0;
  margin-right: 0.5em;
}
.search-input *:not(img),
.search-input {
  background-color: var(--color-background);
}
.search-input input {
  font-size: 1.2em;
  width: 100%;
  color: var(--text-primary);
  border-style: none;
  padding: 0.5em;
  height: 4ch;
}

.notification {
  display: flex;
}
.notification img {
  margin: auto 0.25em;
  filter: invert(100%);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  width: 70%;
}
.error-page button {
  margin-top: 1rem;
  font-size: 1rem;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  border-style: none;
  align-self: self-start;
  align-self: center;
}

.error-msg {
  margin-inline: auto;
  font-size: var(--font-size-header);
}

.error-code {
  font-size: var(--font-size-xl);
  color: var(--text-danger);
  margin-inline: auto;
}

.logout-icon {
  margin-top: auto;
}
.logout-icon:hover {
  background-color: rgba(213, 57, 57, 0.9490196078);
}

.dropdown-delete span {
  font-weight: 700;
  color: var(--color-danger);
}

.dropdown-delete img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(28%) saturate(1341%)
    hue-rotate(314deg) brightness(95%) contrast(102%);
}

.bookmark-icon img {
  filter: brightness(0) saturate(100%) invert(85%) sepia(47%) saturate(2975%)
    hue-rotate(1deg) brightness(105%) contrast(103%);
}

.timestamp {
  margin-top: 0.25rem;
  align-self: flex-end;
  font-size: var(--font-size-xm);
  color: var(--text-muted);
}
