div:has(> .message) {
  position: relative;
  max-width: 50%;
  width: fit-content;
}

.message {
  border-radius: 12px;
  margin: 0.75rem 0.25rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-lighter);
  border-style: solid;
  border-color: var(--color-surface);
  border-width: 0 0.05rem;
  box-shadow: var(--shadow-sm);
  min-width: 4rem;
}
.message img:not(:last-child) {
  position: absolute;
  top: 0.75rem;
  height: 2rem;
  width: 2rem;

  left: 0.5rem;

  background-color: var(--text-primary);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

div:has(> .message[data-own="true"]) {
  .message {
    background-color: var(--color-primary);
  }
  margin-left: auto;
}

.hoverMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: -0.5rem;
  right: 0.5rem;
  transform: translateX(-10%);
}

.hoverMenu img {
  filter: invert(100%);
  opacity: 70%;
  height: 1rem;
  width: 1rem;
  margin-top: 0.5rem;

  &:hover {
    opacity: 100%;
    filter: brightness(350%) invert(100%);
  }
}

.hoverMenu img:first-child {
  margin-right: 0.25em;
}

.messageStatus {
  display: flex;
  flex-direction: row;

  img {
    height: 0.75rem;
    width: 0.75rem;
    filter: invert(100%);
    transform: rotate(-15deg);
    margin-top: 0.25rem;
    margin-left: 0.25rem;
  }
}
