.sidebar {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  align-items: center;
  grid-row: 1/-1;
  grid-column: 1/2;
  border-style: solid;
  border-color: var(--color-border);
  background-color: var(--color-background);
  border-width: 0 1px 0 0;
}
.sidebar h1 {
  margin-top: 0.7rem;
}

.sidebarItem {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0.65rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in 0s;
}
.sidebarItem * {
  margin-inline: auto;
}
.sidebarItem img {
  filter: invert(95%) sepia(19%) saturate(12%) hue-rotate(153deg)
    brightness(99%) contrast(94%);
  max-width: 100%;
  height: auto;
}
.sidebarItem p {
  margin-top: 0.5em;
  width: max-content;
  font-size: 0.7em;
}
.sidebarItem[data-selected="true"],
.sidebarItem:hover {
  background-color: var(--color-primary);
}

.tooltip {
  position: absolute;
  left: 80%;
  top: -20%;
  background-color: var(--color-background-lighter);
  padding: 0.5rem 1rem;
  font-size: var(--font-size-input);
  border-radius: 0.5rem;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    grid-column: 1/-1;
    grid-row: 2/-1;
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    background-color: var(--color-background-lighter);
  }
}
