.userCard {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-background);
  border-radius: 0.5rem;
}
.userCard div {
  margin-left: 1rem;
}

.userCardCtn {
  font-size: var(--font-size-body);
  background-color: var(--color-primary);
  padding: 0.5rem 1.5rem;
  border-radius: 0.35rem;
  color: var(--text-primary);
  border-style: none;
  align-self: self-start;
  align-self: center;
  transition: filter 0.3s ease-in 0s;
}
.userCardCtn:hover {
  filter: brightness(1.2);
}
